section.page-content__about
  .container
    .about
      .about__advantage
        ul.nav-list
          li.nav-list__item
            a.nav-list__link(href="#") Vitae
          li.nav-list__item 
            a.nav-list__link(href="#") Audiam
          li.nav-list__item 
            a.nav-list__link(href="#") Dican
          li.nav-list__item 
            a.nav-list__link(href="#") Inermis
        .about__advantage-text-container
          p.about__advantage-text Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam.
      .about__info
        .about__info-list.row
          figure.info-item.col-md-7.col-sm-22
            a(href="#"): img.info-item__image(src="images/about-image.jpg", alt="")
            figcaption.info-item__caption
              h3 Mei
          figure.info-item.col-md-7.col-sm-22
            a(href="#"): img.info-item__image(src="images/about-image2.jpg", alt="")
            figcaption.info-item__caption
             h3 Cibo
          figure.info-item.col-md-7.col-sm-22
            a(href="#"): img.info-item__image(src="images/about-image3.jpg", alt="")
            figcaption.info-item__caption
              h3 Eum
      .about__article
        article.article.row
          figure.article__image.article__image--right.col-md-10.col-sm-22
            a(href="#"): img.article__image-s(src="images/article-image.jpg", alt="")
          .article__content.col-md-10.col-sm-22
            h2.article__content-title.article__content-title--right
              span.article__content-title--lower Pri att mediocrem
              br
              | Corrumpit
            .article__content-wrap
              .article__content-decoration.article__content-decoration--big
              p.article__content-text Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              p.article__content-text Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
              a.article__content-link(href="#") read more...
          
