section.page-content__articles#page-content__articles
  .container
    article.article.row.middle-xs
      .article__content.col-md-9.col-sm-10
        .article__content-wrap
          h2.article__content-title Hinc nobis duo ut
          p.article__content-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, culpa? Lorem ipsum dolor sit amet.
          a.article__content-link(href="#") read more...
      figure.article__image.article__image--right.col-md-13.col-sm-22
        .article__date 07/08
        a(href="#"): img.article__image-s(src="images/content-image.jpg", alt="")
    article.article.row
      .article__column.col-md-10.col-sm-15
        figure.article__image.article__image--left
          .article__date 28/07
          a(href="#"): img.article__image-s(src="images/content-image2.jpg", alt="")
          .article__content-decoration.article__content-decoration--rotated
        h2.article__content-title.article__content-title--higher Eos no
           br 
           | liber 
           br 
           | iudicabit.
      .article__column.col-md-10.col-sm-22
        .article__content
          h2.article__content-title.article__content-title--right
            span.article__content-title--lower Ea eum cibot
            br
            | Graece
          p.article__content-text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          .article__content-decoration.article__content-decoration--regular
          a.article__content-link(href="#") read more...
        .figure.article__image.article__image--right
          .article__date 15/07
          a(href="#"): img.article__image-s(src="images/content-image3.jpg", alt="")
          a(href="#").promo-block Free psd template avaliable od symu.co
          
