footer.page-footer#page-footer
  .container
    nav.page-footer__nav
      ul.nav-list
        li.nav-list__item
          a.nav-list__link(href="#") About
        li.nav-list__item
          a.nav-list__link(href="#") Terms and conditions
        li.nav-list__item
          a.nav-list__link(href="#") Symu freebies
        li.nav-list__item
          a.nav-list__link(href="#") Contact us
    .page-footer__text-container
      p.page-footer__text This tempalte is free to use for personal or commercial projects, attribution is appreciated but not required. If you have any additional questions that may not have been answered above, please don't hesitate to contact us at 
        a(href="#") contact@symu.co
    .page-footer__social-list
      ul.social-list
        li.social-list__item
          a(href="#")
            +svguse("social_facebook")
        li.social-list__item
          a(href="#")
            +svguse("social_twitter")
        li.social-list__item
          a(href="#")
            +svguse("social_youtube")
        li.social-list__item
          a(href="#")
            +svguse("social_dribbble")
        li.social-list__item
          a(href="#")
            +svguse("social_instagram")
