
// Settings
// ==================================================
$hamburger-padding-x                       : 15px !default;
$hamburger-padding-y                       : 15px !default;
$hamburger-layer-width                     : 40px !default;
$hamburger-layer-height                    : 5px !default;
$hamburger-layer-spacing                   : 9px !default;
$hamburger-layer-color                     : $text__color !default;
$hamburger-layer-border-radius             : 3px !default;
$hamburger-hover-opacity                   : 0.7 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter    : opacity(50%) !default;

// Base Hamburger (We need this)
// ==================================================
@import "hamb__base";

// Types (Remove or comment out what you don’t need)
// ==================================================
@import "hamb__types/3dx";
@import "hamb__types/3dx-r";
@import "hamb__types/3dy";
@import "hamb__types/3dy-r";
@import "hamb__types/arrow";
@import "hamb__types/arrow-r";
@import "hamb__types/arrowalt";
@import "hamb__types/arrowalt-r";
@import "hamb__types/boring";
@import "hamb__types/collapse";
@import "hamb__types/collapse-r";
@import "hamb__types/elastic";
@import "hamb__types/elastic-r";
@import "hamb__types/emphatic";
@import "hamb__types/emphatic-r";
@import "hamb__types/slider";
@import "hamb__types/slider-r";
@import "hamb__types/spring";
@import "hamb__types/spring-r";
@import "hamb__types/stand";
@import "hamb__types/stand-r";
@import "hamb__types/spin";
@import "hamb__types/spin-r";
@import "hamb__types/squeeze";
@import "hamb__types/vortex";
@import "hamb__types/vortex-r";
